
/* styling body */
body{
    height:100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    background:url('/hotel/images/city.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1rem;
}

/* styling image as a button */
label {
    cursor: pointer;
    filter: grayscale(50%);
  }

  label:hover {
    filter: grayscale(0);
  }

  input[type="radio"]:checked + label {
    filter: grayscale(100%);
  }

  #images{
      height:px;
      width:200px;
  }

/*styling header  */
h1{
  
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 25%; 
}

/* styling classes and p tag */
.class{
    float: left;
}

p{
    margin: 1px;
}

/* styling divs */
#inn{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;  
}

#rad{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

#city{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

#town{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

/* styling the form */
#form{
    margin-top: 5%;
    margin-left:32%;
    margin-right:0%;
    border: 0.02rem;
    float:left;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
}

/* styling the input */
input {
    width: 100%;
    padding: 5px 15px;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 1rem;
  }

  /* styling the submit button */
.submit{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 40px;
}

/* creating hover effect for button */
.submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .submit:hover span {
    padding-right: 25px;
  }
  
  .submit:hover span:after {
    opacity: 1;
    right: 0;
  }


/* styling duplicate */
.duplicate{
    border-style: solid;
    background:rgb(195, 188, 214);
    margin-top: 2%;
    margin-left:0%;
    margin-right:10%;
    float:right;
    
}

/* styling the return box div */
.return{
    border-style: solid;
    background:aquamarine;
    margin-top: 5%;
    margin-left:0%;
    margin-right:15%;
    float:right;
    
}

 /*styling the submit button  */
button{
    background:grey;
    width: 40%;
    padding: 5px 15px;
    margin-left:35%;
}

/* adding styling for the confirmed div */
#confirmed{
    margin-top: 5%;
    margin-left:0%;
    margin-right:10%;
    border: 0.4rem;
    float: right;;
    color:black;
    background: gray;
    font-size: 1.5rem;
    font-weight: bold;
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
}

.container{
   width:100%;
   padding-top: 100px;
}


