
/* styling body */
body{
    height:100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    background:url('/hotel/images/city.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1rem;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

/* styling image as a button */
label {
    cursor: pointer;
    filter: grayscale(50%);
  }

label:hover {
    filter: grayscale(0);
  }

input[type="radio"]:checked + label {
    filter: grayscale(100%);
  }

#images{
      height:150px;
      width:100px;
  }

/*styling header  */
h1{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 25%; 
}

/* styling classes and p tag */
.class{
    float: left;
}

p{
    margin: 1px;
}

/* styling divs */
#inn{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;  
}

#rad{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

#city{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

#town{
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    margin-left: 45%;
}

/* styling the form */
#form{
    margin-top: 5%;
    margin-left:32%;
    margin-right:0%;
    border: 0.02rem;
    float:left;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
}

/* styling the input */
input {
    width: 100%;
    padding: 5px 15px;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 1rem;
  }

  /* styling the submit button */
.submit{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 40px;
}

/* creating hover effect for button */
.submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .submit:hover span {
    padding-right: 25px;
  }
  
  .submit:hover span:after {
    opacity: 1;
    right: 0;
  }


/* styling duplicate */
.duplicate{
    border-style: solid;
    background:rgb(223, 141, 34);
    margin-top: 2%;
    margin-left:0%;
    margin-right:15%;
    float:right;
    
}

/* styling the return box div */
.return{
    width:250px;
    height:250px;
    border-style: solid;
    border-color: rgb(48, 47, 47);
    background:rgb(223, 141, 34);
    margin-top: 10%;
    margin-left:0%;
    margin-right:15%;
    float:right;
    
}

 /*styling the submit button  */


/* adding styling for the confirmed div */
#confirmed{
    margin-top: 10%;
    margin-left:0%;
    margin-right:10%;
    border: 0.4rem;
    float: right;;
    color:black;
    background:rgb(238, 166, 84);
    font-size: 1.5rem;
    font-weight: bold;
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
}


.container{
   width:100%;
   padding-top: 100px;
}

#buttons{
    background-color: #998ff1;
    width: 40%;
    padding: 5px 15px;
    margin-left:35%;
}

.image-holder{
    background-color: rgb(218, 195, 70);
}